<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container" style="background-color: lightgray;">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div style="margin-top: 30px;">
        <form action="/new_comment" method="POST">
            <div style="text-align: center;">
                <input type="text" placeholder="Author" name="author" style="width: 50%; text-align: center; border-radius: 8px;">
            </div>
            <div style="margin-top: 30px; text-align: center;">
                <input type="text" placeholder="Comment" name="comment" style="width: 50%; text-align: center; border-radius: 8px;">
            </div>
            <div style="margin-top: 30px; text-align: center;">
                <button type="submit"style="text-align: center; border-radius: 8px;">Send</button>
            </div>
            <input type="hidden" value="<%=blog_id%>" name="blog_id">
        </form>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>